/*

#393EBB
#444791
#0C0E56
#414366
#30303C
#2A2A33

*/

.hero-bg-color {
    background-color: #414366;
}

.resume-bg-color {
    background-color: #30303c;
}

.resume-link {
    text-decoration: none;
    color: #3939EB;
}

.resume:visited {
    color: #FFFFFF;
}