html {
    background-color: black;
}

h1 {
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

p {
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

#box {
    text-align: center;
    width: 50%;
    margin-left: 25%;
}

#frame {
    text-align: center;
    width: 80%;
    margin-left: 10%;
    border: 5px solid white;
    padding: 10px;
}

#imagine {
    width: 100%;
    border: 5px solid white;

}